<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<nav class="navbar navbar-dark bg-primary">
    <p class="navbar-brand"><h1>MY NOTES</h1></p>
    <a class="btn btn-success" href="/notes/new">+ NEW NOTE</a>
</nav>
<div class="container">
    <hr width="100%" height="10" color="black">
    <div class="row">
        <div class="col-md-8">
            <div class="col">
                {% for note in notes %}
                    <h1>{{note.title}}</h1>
                    <p>{{note.description|linebreaksbr}}</p>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>
</div>